// $nav-color: linear-gradient(to right top, #eed278, #ffefba, #eed278);
// $nav-color: #1FC58E;
$nav-color: #f8f5ec;
$nav-text-color: #191414;

$grad-bg-1: linear-gradient(to right top, #f46b45, #eea849);
$grad-bg-2: linear-gradient(to right top, #005c97, #363795);
$grad-bg-3: linear-gradient(to right top, #e53935, #e35d5b);
$grad-bg-4: linear-gradient(to right top, royalblue, tomato);

// Extras

// Slight ocean view
$grad-bg-5: linear-gradient(to right, #a8c0ff, #3f2b96);
$grad-bg-6: linear-gradient(to right, #000000, #434343);
$grad-bg-7: linear-gradient(to right, #0099f7, #f11712);
$grad-bg-8: linear-gradient(to right, #fd746c, #ff9068);
$grad-bg-9: linear-gradient(to right, #b24592, #f15f79);
$grad-bg-10: linear-gradient(to right, #c2e59c, #64b3f4);
$grad-bg-11: linear-gradient(to right, #ffb75e, #ed8f03);
$grad-bg-12: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
