// $nav-color: linear-gradient(to right top, #eed278, #ffefba, #eed278);
// $nav-color: #1FC58E;
$nav-color: #f8f5ec;
$nav-text-color:#191414;

$grad-bg-1 : linear-gradient(to right top, #f46b45, #eea849);
$grad-bg-2 : linear-gradient(to right top, #005c97, #363795);
$grad-bg-3 : linear-gradient(to right top, #e53935, #e35d5b);
$grad-bg-4 : linear-gradient(to right top, royalblue, tomato);

// Extras

// Slight ocean view
$grad-bg-5 : linear-gradient(to right, #a8c0ff, #3f2b96);