@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Titillium+Web:wght@700&display=swap");

@import "../gradientcolors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  min-height: 100vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;

  padding-top: 8vh;
  font-family: "Open Sans";
  font-size: 30px;
  color: white;
}

img {
  user-select: none;
  -webkit-user-drag: none;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

#particles-js {
  // background-color: #0f111a;
  // background: radial-gradient(#292727,#0f111a );
  background: $grad-bg-4;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

// Sections begin here

// Section-1: #home
#home {
  height: 100vh;
  #profile-pic {
    border-radius: 100%;
    display: block;
    margin: 50px auto 20px auto;
    // border: solid #a0e08a 3px;
  }

  .info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // /* margin: 30px auto; */
    font-size: 30px;
  }

  .socials {
    margin-top: 20px;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    li {
      list-style: none;
      margin: 20px;

      :hover {
        transform: scale(1.20);
        transition: 0.5s ease;
        // transition-delay: 0.1s;
        // transition-duration: 0.3s;
      }
    }

    img {
      width: 50px;
      padding: 0;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }
}

// Section-2: #about
#about {
  // margin-top: 8vh;
  // background-color: rgb(255, 255, 255);
  background: $grad-bg-5;
  color: white;

  display: flex;
  align-items: center;
  .quote {
    margin: 4rem;
    // background-color: red;
    // font-family: "Open Sans", sans-serif;
    font-family: "Open Sans", serif;
    text-align: center;
    margin: 20vh auto;
    line-height: 60px;
    width: 80vw;
  }
}
// Section-3: #projects
#projects {
  // background-color: tomato;
  // background: radial-gradient(#525252, #131313);
  // background: linear-gradient(royalblue, tomato);
  background: $grad-bg-10;
  .showcase {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin: 30px 40px;

    .card {
      border: 1px solid gray;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
      display: flex;
      justify-content: center;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
}

// Section-4: #resume
#resume {
  background: $grad-bg-8;
  // min-height: 30vh;
  text-align: center;

  div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// Section-5: #contact
#contact {
  background: $grad-bg-6;
  min-height: 20vh;
  h3{
    font-size: 18px;
    margin: auto 20px;
    padding: 10px;
    a{
      text-decoration: none;
      color: rgb(151, 142, 142);
    }

  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }

  #profile-pic {
    width: 120px;
  }

  .socials {
    img {
      width: 80%;
    }
  }

  #about{
    .quote{
      // color: red;
      font-size: 20px;
      line-height: 40px;
    }
  }
}
